@using Microsoft.AspNetCore.Identity
@using HotelManagement.Data.Models.UserModels
@using HotelManagement.Data.Services.ViewServices

@inject FloorVisualisationServices floorService

<ul class="navbar-nav ">
 
  
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white px-4" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown">
            Floors
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            
            @foreach (var floor in await floorService.GetFloorItems())
            {
                <li><a class="dropdown-item" asp-controller="Floor" asp-action="All" asp-route-id="@floor.Id">Floor @floor.FloorNumber (Free @floor.FreeRooms)</a></li>
            }
            
        </ul>
    </li>
    

  
</ul>.
