<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotel Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HotelManagement.styles.css" asp-append-version="true" />
</head>

<style>
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: red;
        border-radius: 15px 50px;

    }


</style>

<body>
    <header>
        <nav class="navbar  navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand px-4"  style="font-size:30px"  asp-area="" asp-controller="Home" asp-action="Index">HotelManagement</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="font-size:25px">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User?.Identity?.IsAuthenticated ?? false && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white px-4" asp-area="" asp-controller="ManageEmployees" asp-action="All">Manage Employees</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white px-4" asp-area="" asp-controller="Account" asp-action="Register">Add Employee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white px-4" asp-area="" asp-controller="FrontDesk" asp-action="Privacy">  Front Desk  </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white px-4" asp-area="" asp-controller="Reservations" asp-action="Privacy">  Reservations  </a>
                            </li>

                            <partial name="_FloorsPartial" />
                        }

                        

                     </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - HotelManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
