@{
    ViewData["Title"] = "Error";
}

<h1>@ViewData["Title"]:</h1>

<h3>@ViewData[ErrorTitle]</h3>

<h1>Error Description:</h1>

<h3>@ViewData[ErrorDescription]</h3>

<h1>Status Code:</h1>

<h3>@ViewData[StatusCodeForError]</h3>