@{
    ViewData["Title"] = "Home Page";
}

<style>
    .h1 {
        text-align: center;
    }   
</style>

<div class="text-center h1">
    <h1 class="display-4 align-content-center">Welcome to Hotel Management</h1>
</div>
